.input_div {
  display: flex;
  flex-direction: column;
  align-items: left;
}
.input_div p {
  font-family: "NanumSquareRound", sans-serif;
}
.title {
  width: 115.708px;
  height: 41.63px;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
}
.input {
  border-width: 0px;
  padding: 0.5rem;
  font-size: 1rem;
  border: 0px solid #ccc;
  border-radius: 4px;
  margin-top: 0.5rem;
}
.input:focus {
  outline: none;
  border-color: #a6acb3;
}

.button {
  width: 1035px;
  height: 179px;
  flex-shrink: 0;
  padding: 0.5rem 1rem;
  background-color: #9ac87f;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.button:hover {
  background-color: #7ba066;
}

.input::placeholder {
  content: attr(placeholder);
  font-family: "NanumSquareRound", sans-serif;
  font-size: 14px;
  color: #d4d4d4;
}
.input[type="date"] {
  font-family: "NanumSquareRound", sans-serif;
}
