/* 기본 스타일 */
.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 414px; /* 아이폰 XR 화면 너비에 맞추기 */
  margin: 0 auto;
  padding: 16px;
  box-sizing: border-box;
}

.content h1 {
  color: #262626;
  font-family: "NanumSquareRound", sans-serif;
  margin-bottom: 8%;
  font-size: 24px; /* 폰트 크기를 비율에 맞게 조정 */
}

.content p {
  color: #4a4a4a;
  font-family: "NanumSquareRound", sans-serif;
  margin: 0;
  font-size: 16px; /* 폰트 크기를 비율에 맞게 조정 */
}

.input {
  border-width: 0px;
  font-size: 1rem;
  border: 0px solid #ccc;
  border-radius: 4px;
  margin-top: 0.5rem;
  width: 100%;
}
.input:focus {
  outline: none;
  border-color: #a6acb3;
}

.input::placeholder {
  font-family: "NanumSquareRound", sans-serif;
  font-size: 12px;
  color: #d4d4d4;
}

/* 버튼 */
.button {
  width: 100%;
  height: auto;
  flex-shrink: 0;
  padding: 12px;
  background-color: #9ac87f;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.button:hover {
  background-color: #7ba066;
}

.input_div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input_div p {
  font-family: "NanumSquareRound", sans-serif;
  font-size: 16px;
}

/* 이미지 */
.img {
  width: 100%;
  height: auto;
  border-radius: 20px;
  margin-bottom: 5%;
}

/* 메인 정보 */
.mainInfo {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.mainInfo h1 {
  width: 100%;
  font-size: 24px;
}
.button p {
  margin: 0;
  font-family: "NanumSquareRound", sans-serif;
  color: white;
  text-align: center;
  width: auto;
  height: auto;
  font-size: 20px;
}
.hr {
  border: 0;
  border-top: 1px solid #d4d4d4;
  margin: 1rem 0;
}
